<% layout("layouts/boilerplate.ejs")%>
<body>
    <div class="row mt-4">
        <h1 class="col-4 offset-5 mb-4">Notes</h1>
        <div class="col-6 offset-3">
            <form method="POST" action="/notes/edit/<%= note._id%>"  class="needs-validation" novalidate>
                <div class="mb-3">
                <label for="Title" class="form-label"><b>Title</b></label>
                <input name="title"  id="Title"   type="text" class="form-control" required value="<%= note.title%>">
                </div>

                 <div class="mb-3">
                        <label for="content" class="form-label"><b>content</b></label>
                        <textarea name="content"  id="content"   type="content" class="form-control" required rows="10" col="50" ><%= note.content%></textarea>
                        </div>
                    <button class="btn btn-success mt-3 mb-3">Edit Note</button>
          </form>
        </div>
    </div>
</body>