<% layout("layouts/boilerplate.ejs")%>
<section class="recent-items">
    <h2 class="offset-5">Passwords</h2>
    <div class="card-deck show-notes">
        <% passwords.forEach(password => { %>
            <div class="card notes-card">
                <div class="card-title">
                    <h5><%= password.title%></h5>
                    <p><i>at: <%= password.date.toDateString()%></i></p>
                            <hr>
                </div>
                <div class="card-body">
                <div class="card-text">
                    <p><%= password.site%></p>
                </div>
                </div>
                <a href="/passwords/<%= password._id%>" class="btn btn-secondary col-8 offset-2  mt-1 view-btn">ViewPassword</a>
            </div>

        <% }); %>
    </div>
</section>